<div class= "bill">

     
       <mat-card class="card">
            <mat-card-header class="header">
              <img mat-card-avatar [src]="piggyPath" id="piggy">
              <mat-card-subtitle class="total">Total factura</mat-card-subtitle>
              <mat-card-title class="money">30,000 COP</mat-card-title>
            </mat-card-header>
            <div class="content">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>

            <mat-card-actions>
              <button mat-button>Descargar</button>
            </mat-card-actions>
            </div>
        </mat-card>

          <app-animation></app-animation>

</div>