@import 'src/ACM-theme.scss';

.card {
    width: 300px;
    height: 500px;
    float: right;
    margin: 120px 200px 0 0;
    border-radius: 30px;
    background-color: #51B5E3;
  }

  .total{
      width: 200px;
      margin-top: 20px;
      margin-bottom: 12px;
      color: #FFFF;
 
  }
  
  .money{
    color: #FFFF;
  }
  .header{
      height: 110px;
      width: 100px;
      padding-bottom: 10px;
  }

  #piggy{
      width: 100px;
      height: 100px;
  }
  
  .card{
  
    background-image: url('/assets/images/grayCard.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 102%; 
    background-position-y: top 135px;

  }
  
  .bill{
      padding-bottom: 100px;
  }


  .community, .people{
    padding: 15px;
    background-color: #EBE5E5;
    margin-top: 20px !important;
    border-radius: 30px ;

  }
  #commu, #boy{
      float: right;
  }

  #commu{
      width: 20%;
  }

  #boy{
      width: 25%;
  }

  .txtComm, .txtPe{
    color: mat-color($ACM-theme-primary, default);
  }

  h4{
    display: flex;
    justify-content: center;
    color: mat-color($ACM-theme-primary, default);
  }

  .button{
    display: flex;
    float: right;
    margin-right: 10px !important;
    margin-top: 29px !important;
  }