<div class= "bill">

     
       <mat-card class="card">
            <mat-card-header class="header">
              <img mat-card-avatar [src]="piggyPath" id="piggy">
              <mat-card-subtitle class="total">TOTAL FACTURA</mat-card-subtitle>
              <mat-card-title class="money">30,000 COP</mat-card-title>
            </mat-card-header>

            <div class="content">
            <mat-card-content>
            <div class="community">
                <img [src]="communityBillPath" id="commu">
                <p class="txtComm">Tu comunidad _________ tiene</p>
                <p>30 Personas</p>
            </div>
            <div class="people">
                <img [src]="boyPath" id="boy">
                <p class="txtPe">Cada persona aporta</p>
                <p>1,000 COP</p>
            </div>

            <h4>¡Para ___________ !</h4>
            
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button color="primary" class="button">Descargar</button>
            </mat-card-actions>
            </div>
        </mat-card>

          <app-animation></app-animation>

</div>