#nav_logo{
    
    height: 100%;
}

#nav_commu_logo{
    
    height: 60%;
}

.spacer {
    flex: 1 1 auto;
  }

#tool_bar{
    height: 100px;
    padding: 10px;
    background-color: white;
}

#login-button{
    margin-right: 30px;
}