#nav_logo{
    
    height: 90%;
}

#nav_commu_logo{
    
    width: 25%;
}

.spacer {
    flex: 1 1 auto;
  }

#tool_bar{
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    background-color: white;
}

#login-button{
    margin-right: 30px;

}

mat-toolbar{
    z-index: 900;
    background-color: white;
    position: fixed;
}