<mat-toolbar id="tool_bar">
    <img [src]="logoPath" id="nav_logo">

    <button mat-button color="primary">Features</button>
    <button mat-button color="primary">Pricing</button>
    <button mat-button color="primary">Community</button>

    

    <span class="spacer"></span>

    <div >

        <button mat-flat-button class="medium-button white-button" id="login-button">Log in</button>
        <span class="spacer"></span>

        <button mat-flat-button color="primary" class="medium-button white-button">Register</button>
        <span class="spacer"></span>

        <button mat-flat-button color="accent" class="medium-button white-button">Register</button>


    </div>

</mat-toolbar>
