@import 'src/ACM-theme.scss';
@import 'src/styles.scss';

.section{
    padding: 30px;
    width: 40%;
}

#tutorial_image{
    width: 40%;
    max-width: 450px;
}

.tutorial_tab{
    padding:30px;
    min-height: 100px;
}


#example_slider{
    min-width: 50%;
}
 
mat-card{
    width: 600px;
}