<h1 mat-dialog-title>Nueva Comunidad</h1>
<mat-dialog-content  >
    <form [formGroup]="form">
        <p>Qué nombre tendrá tu comunidad?</p>
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="community.name" formControlName="name">
        </mat-form-field>

        <p>Qué tamaño tiene tu comunidad?</p>
        <mat-form-field>
            <mat-label>Tamaño</mat-label>
            <input matInput [(ngModel)]="community.size" formControlName="size">
        </mat-form-field>
    </form>
</mat-dialog-content>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button class="add_button" [disabled]="form.status == 'INVALID'" [mat-dialog-close]="community" cdkFocusInitial>Agregar</button>
</div>
