

<div fxLayout="row" fxLayoutAlign="space-evenly stretch" id="main_div">

  <!--LEFT PANE-->

  <!--CAUSE-->
  <div class="section" id="left" fxFlex="50" fxLayout="column" fxLayoutAlign="start stretch" 
    *ngIf="showingCause" >
    <label class="subtitle"> <b>Calcula...</b></label>
    <label class="content">¿Cuánto necesitas en total?</label>
    <mat-slider   
      thumbLabel
      id="budget-slider"
      [min]="minMoney" [max]="maxMoney"
      color="primary"
      [(ngModel)]="price"
      [displayWith]="formatLabel"
      (input)="updateBudget($event)"></mat-slider>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="content">
      <div>{{minMoney  | currency:' ' : 'symbol' : '1.0-0'}}</div>
      <div>
        <mat-form-field>
        <mat-label  >{{selectedCurrency}}</mat-label>
        <mat-select >
          <mat-option  (click)="changeCurrency('COP')" >COP</mat-option>
          <mat-option  (click)="changeCurrency('USD')" >USD</mat-option>

        </mat-select>
        </mat-form-field>
      </div>
      <div>{{maxMoney  | currency:' ' : 'symbol' : '1.0-0'}}</div>
    </div>


    <div  fxLayout="row" fxLayoutAlign="space-between center" class="content">      

      <mat-form-field appearance="fill">
        <mat-label>Selecciona una causa</mat-label>
        <mat-select >
          <mat-option *ngFor="let c of values" [value]="c" (click)="changeCause(c)" >{{c.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        Agrega tu causa
        <button mat-flat-button (click)="addCause()" class="add_button">+</button>

      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" >
      <button mat-raised-button color="primary" (click)="showCommunity()">Continuar ></button>
      <!--<button mat-raised-button color="primary" (click)="downloadImage()">Download image ></button>-->
    </div>
  </div>

  <!--COMMUNITY-->
  <div class="section" id="left" fxFlex="50" fxLayout="column" fxLayoutAlign="space-around stretch" *ngIf="!showingCause">
      <label class="subtitle"><strong>Calcula...</strong></label>
      <label class="text">¿Cuántas personas necesitas en total?</label>
      <label id="example-radio-group-label">Selecciona una Comunidad:</label>
      <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="community-radio-group"
          [(ngModel)]="chosenCommunity"
          (change)="handleCommunityChange($event)">
          <mat-radio-button  class="community-radio-button" *ngFor="let community of communities" [value]="community">
              {{community.name}}
          </mat-radio-button>
      </mat-radio-group>

      <div>
          Agrega tu Comunidad
          <button mat-flat-button (click)="addCommunity()" class="add_button">+</button>
      </div>

      <mat-slider
          thumbLabel
          id="budget-slider"
          class="slider"
          min="1" max="7794798739"
          value="1"
          color="primary"
          [(ngModel)]="people"
          [displayWith]="formatLabel"
          (input)="updatePopulation($event)"></mat-slider>

      <div fxLayout="row" fxLayoutAlign="space-between center" >
          <div>1</div>
          <div>Personas</div>
          <div>7.794.798.739</div>
      </div>

      <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" >
            <!--TODO: quitar estos botones y hacerlo con carousel-->
          <button mat-raised-button color="primary" (click)="showCauses()">Regresar</button>
          <button mat-raised-button color="primary" (click)="calculate()">Calcular</button>
      </div>

  </div>

  <!--RIGHT PANE-->
  <div class="section" fxLayout="column" fxFlex="50" fxLayoutAlign="space-around center">
      <p><a color="accent" id="display_value"> {{displayMoney  | currency:' ' : 'symbol' : '1.0-0'}} </a> <a id="display_currency">{{selectedCurrency}}</a> </p>
      <img [src]="billsIllustrationPath" id="bills">
      <div  fxLayout="row" fxLayoutAlign="end center" id="next_div">
        <!--TODO: llenar el metodo navigate to details -->
        <button mat-raised-button color="primary" (click)="navigateToDetails()" *ngIf="!showingCause">Detalles</button>
      </div>

      <span> Alcanza para {{result(displayMoney!)}} </span>
      <!--TODO: quitar estas dos variables, solo es para visualizar y hacer pruebas
      <span> Popsize = {{displayPopSize}}</span>
      <span> people = {{people}}</span>
      -->
      
  </div>

</div>