/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "ACM-theme.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
/*acm-blue background and white font*/

.subtitle{
    font-size: large;
    margin: 20px;
}



#main_div{
    min-height: 80%;
    padding-top: 120px;
}


.add_button{
    background-color: #20AD76;
    color: white;

}
.medium-button{
    font-weight: lighter;
    width: 100px;
}

.white-button{
    color: mat-color($ACM-theme-primary);
    background-color: white;
    border: solid;
    border-color: mat-color($ACM-theme-primary);
}

.blue-button{
    color: white;
    background-color: mat-color($ACM-theme-primary);
    border: solid;
    border-color: mat-color($ACM-theme-primary);
}

.community-radio-group{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.community-radio-button{
    margin: 5px;
}

.button-row {
    display: flex;
}
